RewriteEngine On

# Redirect non-www to www
RewriteCond %{HTTP_HOST} ^beratungmithaas\.de$ [NC]
RewriteRule ^(.*)$ https://www.beratungmithaas.de/$1 [R=301,L]

# Force HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]
